<div class="about-us-container">
    <div class="about-us-container__image-background">
    </div>
    <div class="about-us-container__block-info">
        <div class="block-info-two">
            <h2>Beata Kulling-Nitkowska</h2>
            <h3>inż. architekt krajobrazu</h3>
            <p>Praca w szkółce oraz zakładanie ogrodów nie jest dla mnie tylko pracą.... jest także pasją. Każdego
                klienta traktuję indywidualnie. Moją szkółkę i usługi cechuje wysoka jakość, a nie ilość.</p>
            <p class="about-us-container__block-info-two__signature">Beata Kulling-Nitkowska</p>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" class="about-us-container__main-block-info">
        <div class="about-us-container__main-block-info__block-img-info" fxFlex="50%" fxFlex.xs="100%">
            <img class="about-us-container__main-block-info__block-img-info__img" width="300" fxFlex.xs="95%" height="500"
                alt="face image" src="../../assets/owner-picture.jpg" />
        </div>
        <div class="about-us-container__main-block-info__block-img-info__info" fxFlexAlign="center" fxFlex="50%"
            fxFlex.xs="100%">
            <p>Szkółka roślin ozdobnych Magia Ogrodów od 2010 roku zaprasza w świat roślin.
                Każdy miłośnik roślinności znajdzie u nas coś dla siebie, a osoby dopiero rozpoczynające przygodę z
                ogrodem dostaną od Nas uwagę i doświadczenie.
            </p>
            <p>Magia Ogrodów to przede wszystkim szkółka roślin w której można nabyć drzewa, krzewy, byliny , jak i
                kwiaty rabatowe. Prowadzimy sprzedaż roślin w doniczkach , które można sadzić przez cały okres
                wegetacyjny.</p>
            <p>Specjalizujemy się także w projektowaniu, zakładaniu oraz pielęgnacji ogrodów.</p>
            <p>Dołożymy wszelkich starań , aby Państwa ogrody były piękne i niepowtarzalne, dopasowane do indywidualnych
                potrzeb.</p>
            <h5 class="about-us-container__main-block-info__block-img-info__info__h5">ZAPRASZAMY!</h5>
        </div>
    </div>
</div>