.map-container {
  height: 500px;
  width: 100%;
  margin: auto;
  max-width: 700px;

  &__map-frame {
    border: 2px solid black;
    height: 100%;
  }
}

#map {
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .map-container {
    max-width: 90%;
  }
}
