<div class="projects-container">
    <div class="projects-container__img-background"></div>
    <div class="projects-container__info-block">
        <div class="projects-container__info-block-two">
            <p>Ładny ogród nie jest na ogól dziełem przypadku, lecz wynikiem dobrego planowania. Zarówno zakładanie
                ogrodu, jak i jego przekształcanie wymagają gruntownych rozważań.
                Na ogród nie można patrzeć jak na sumę poszczególnych części, należy go traktować jako całość
                ,zharmonizowaną z domem i otoczeniem.
                Zaprojektowanie ciekawego ogrodu z charakterem nie jest proste, dlatego warto powierzyć to zadanie
                fachowcom. Dzięki temu unikniemy wielu błędów i przypadkowości w ogrodzie, a później nie będziemy
                musieli przemeblowywać ogrodu przez kilka następnych lat.
                <br /><br />
                Do prac projektowych potrzebna będzie nam mapka do celów projektowych z naniesionymi budynkami lub tez
                nawierzchniami, jeżeli już takie istnieją.
                W czasie spotkania wysłuchamy Państwa życzeń i oczekiwań, dotyczących ogrodu.
                Na następnym spotkaniu przedstawie dwie koncepcie o których porozmawiamy wspólnie i wybierzemy jedną, na
                podstawie której powstanie projekt.</p>
        </div>
    </div>
    <div class="projects-container__list-projects" fxLayoutAlign="center" fxLayout.xs="column">
        <div>
            <h4>Usługi projektowe</h4>
            <ul>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekty
                    koncepcyjne ogrodów i terenów zieleni
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekty zieleni
                    przy firmach, hotelach, kawiarniach, restauracjach
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekty zieleni
                    osiedlowej
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekty zieleni
                    na tarasach, balkonach
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>nadzór autorski
                    podczas realizacji projektów
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>wizualizacje
                </li>
            </ul>
        </div>
        <div>
            <h4>Przykładowy projekt zawiera</h4>
            <ul>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekt
                    koncepcyjny zagospodarowania terenu
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>projekt techniczny
                    z doborem roślin
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>wykaz roślinności
                    z uwagami pielęgnacyjnymi
                </li>
                <li>
                    <mat-icon class="projects-container__list-projects__icon">local_florist</mat-icon>wizualizacje
                </li>
            </ul>
        </div>
    </div>
    <div class="projects-container__movie-block">
        <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" fxFlex.xs="90%" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
    </div>
</div>