<div class="plant-nursery-container">
    <div class="plant-nursery-container__img-background"></div>
    <div fxLayout="column"
        style="background-color: #e6e6e6; text-align: center; border-bottom: 1px solid #c6c6c6;margin-bottom:40px;">
        <h3 style="margin: 40px;">NASZA SZKÓŁKA</h3>
        <p style="margin-bottom: 60px;">W naszej szkółce znajdziecie Państwo rośliny w pojemnikach, które można wysadzać
            przez cały okres wegetacyjny tj. od wczesnej wiosny do próżnej jesieni.
            Dokładamy wszelkich starań, aby nasz materiał roślinny był najwyższej jakości .
            Z każdym sezonem zwiększamy nasz asortyment o ciekawe gatunki i odmiany, których stale przybywa na rynku
            ogrodniczym.
            Zadowolenie i radość klientów to nasz priorytet.</p>
    </div>
    <div class="plant-nursery-container__block-info">
        <div class="plant-nursery-container__block-info__block">
            <h4>Posiadamy:</h4>
            <ul>
                <div *ngFor="let item of bushesList;">
                    <li>
                        <mat-icon class="plant-nursery-container__block-info__block__icon-plant"> local_florist
                        </mat-icon>
                        <b>{{item.type}}</b>
                    </li>
                    <p>{{item.description}}</p>
                </div>
            </ul>
        </div>
    </div>
    <div class="plant-nursery-container__img-background-two">
    </div>
    <app-images-for-garden></app-images-for-garden>
    <div fxLayout="column" class="plant-nursery-container__info-two">
        <p>Jeśli chcesz zobaczyć wiecej zdjęc to zapraszamy na naszą stronę
            na facebooku! Link znajdziesz na dole strony.
        </p>
        <button (click)="scrollDownPage()" mat-button>
            <mat-icon class="plant-nursery-container__info-two__icon">expand_more</mat-icon>
        </button>
    </div>
    <div class="plant-nursery-container__img-background-three"></div>
</div>