.garden-care-container {
  padding-bottom: 40px;
  &__img-background {
    background-image: url(../../assets/garden-care.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info-block {
    background-color: #e6e6e6;
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__info-block-two {
    max-width: 1200px;
    margin: auto;
  }

  &__list-block {
    max-width: 1000px;
    margin: auto;
    padding: 50px;

    &__ul {
      list-style-type: none;

      &__li {
        margin: 20px;

        &__icon {
          position: relative;
          top: 6px;
        }
      }
    }
  }
}
