<div>
    <div style="background-image: url(../../assets/garden-care.jpg);height: 500px; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    </div>
    <div style="background-color: #e6e6e6;border-bottom: 1px solid #c6c6c6;text-align: center; padding-top: 70px;padding-bottom: 70px;">
        <div style="max-width: 1200px; margin: auto;">
            <p> W czystym i zadbanym ogrodzie odpoczywa się znacznie przyjemniej. W naszej ofercie znajdziecie Państwo także tę usługę. Koszt zalezy od indywidualnej oceny stanu ogrodu oraz nakładu pracy.</p>
        </div>
    </div>
    <div style="max-width: 1000px; margin: auto; padding: 50px;">
        <h4>W zakres pielęgnacji ogrodów wchodzi:</h4>
        <ul style="list-style-type: none;">
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>opryski wiosenne i jesienne</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>koszenie trawników</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>napowietrzanie (wertykulacja) trawników</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>formowanie żywopłotów</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>nawożenie roślin</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>ochrona roślin</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>plewienie ( odchwaszczanie)</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>spulchnianie gleby</li>
            <li><mat-icon style="position: relative; top:6px;">local_florist</mat-icon>nasadzenia</li>
        </ul>
    </div>
</div>


