<footer fxLayout="column" class="footer-container">
    <img class="footer-container__img" width="90" alt="Magia ogrodów Logo" src="../../assets/logo.png" />
    <div class="footer-container__main-block" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly">
        <div>
            <h3>KONTAKT:</h3>
            <p>E-mail: magiaogrodow@wp.pl<br />Tel.: +48 606 652 317<br /></p>
            <p>Adres firmy:<br /> Dębogórska 8<br />84-230 Dębogórze Wybudowanie</p>
        </div>
        <div>
            <div>
                <h3>Punkt sprzedaży czynny:</h3>
                <p>poniedziałek - piątek: 9 - 18<br />sobota: 9 - 15<br />W okresie od 1 kwietnia do 30 listopada</p>
            </div>
            <div>
                <h3>Nasze Media:</h3>
                <a href="https://www.facebook.com/Magia-Ogrod%C3%B3w-141887419310359/" target="_blank" rel="noreferrer"
                    style="margin-left: 20px;margin-right: 20px;">
                    <img class="footer-container__main-block__img" width="40" alt="dd" src="../../assets/dd.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="footer-container__copyright">
        ©2020 Magia Ogrodów SITE BY <a>LN</a>
    </div>
</footer>